<p id="notice"><%= notice %></p>
<div class="container">

<p>
  <strong>Firstname:</strong>
  <%= @student.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student.student_id %>
</p>

<h2> Courses Enrolled</h2>
<p>
  <strong>Section:</strong>
  <%= @student.sections %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</div>