<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>Sectionsenrolled:</strong>
  <%= @student.sectionsEnrolled %>
</p>

<p>
  <strong>Section:</strong>
  <%= @student.section %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
