<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 "style=" height: 100px;"></div>
    </div>
    <div class="row">
    <div class="field">
    <div class="col-md-12 col-md-offset-4">
      <%= form.label :name %>
      <div class="input"> <%= form.text_field :name %></div>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="field">
        <div class="col-md-12 col-md-offset-4">
      <%= form.label :department %>
          <div class="input"> <%= form.text_field :department %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <div class="col-md-12 col-md-offset-4">
          <%= form.label :number %>
          <div class="input"> <%= form.number_field :number %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <div class="col-md-12 col-md-offset-4">
          <%= form.label :creditHours %>
          <div class="input"> <%= form.number_field :creditHours %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="actions">
        <div class="col-md-12 col-md-offset-4">
          <div class="sub-btn"> <%= form.submit %></div>
        </div>
      </div>
    </div>
<% end %>
</div>