<div class="container show-link">
  <%= render :file => "./navbar/navbar.html.erb" %>
<div class="item-show">
<p id="notice"><%= notice %></p>
</div>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Credithours:</strong>
  <%= @course.creditHours %>
</p>
<div class="btn btn-default" href="#" role="button">
<%= link_to 'Edit', edit_course_path(@course) %> </div>
  <div class="btn btn-default" href="#" role="button"><%= link_to 'Back', courses_path %>
</div>
</div>
